body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}


h1{
    margin: 10px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 3.5rem;
    color: #40514E;
}

h2{
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
    color:#ffb6b6;
    margin: 0 0 50px 0;
}

h3 {
    font-family: 'Montserrat', serif;
    color:#ffb6b6;
    margin: 20px 0;
    font-size: 1.5rem;
}

hr {
    border-color: #aacfcf;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 15%;
    margin: 80px auto;
}

p{
    line-height: 2;
}

a{
    color: #679b9b;
    font-family: 'Merriweather', serif;
    text-decoration: none;
}

a:hover{
    color:#40514E;
    font-weight:1000;
    text-decoration: none
}

.top-container{
    background-color: #fde2e2;
    position: relative; 
    padding: 100px 0 250px 0;
}

.top-cloud{
    position: absolute;
    right: 200px;
    top: 40px;
}

.front-intro{
    color: #679b9b;
    font-weight: normal;
    width: 60%;
    margin: 10px auto;
}

.bottom-cloud{
    position: absolute;
    left: 200px;
}

.front-bottom-img{
    position: absolute;
    margin-top: 20px;
    left: 150px;
    width: 250px;
}

.nav-container{
    background-color: #fde2e2;
    padding: 0 15%;
}

.nav-tabs {
    border-bottom: 0;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #40514E;
}

.navbar-light .navbar-nav .nav-link {
    color: #679b9b;
}

.nav-link:hover{
    font-weight:1000;
    color: #679b9b;
}


.middle-container{
    margin: 50px 0;
}

.profile-img{
    height: 200px;
    padding: 20px 0;
}

.circular {
    border-radius: 100%;
}

.intro{
    width: 60%;
    margin: 0 auto;
}

.research{
    width:80%;
    margin: 0 auto;
}

.research-list{
    padding: 0 20%;
}

.education-row{
    margin: 50px auto;
    width: 70%;
}

.school-logo{
    width: 150px;
}

.bottom-container{
    background-color: #ffb6b6;
    padding: 16px 0;
}

.btn-outline-primary {
    color: #aacfcf;
    border-color: #aacfcf;
}

.BUTTON_IFC {
    background: #aacfcf;
    border-radius: 10px;
    color: #40514E;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 10px;
}
    
.BUTTON_IFC:hover {
    font-weight: normal;
    color: #FFFFFF;
    background: #679b9b;
    background-image: linear-gradient(to bottom, #679b9b, #aacfcf);
    border-radius: 10px;
}

.subsection-img{
    border-radius: 100%;
    padding: 20px;
    margin-bottom: 1.5rem;
    max-width: 100px;
}

.subsection-img:hover{
    background: rgb(233, 233, 233);
}

.contact-me{
    padding: 0 25%;
}

.copyright{
    color:#fcf8f3;
    font-size: 0.8rem;
    padding: 10px;
}


/******************Publication******************/

.my-name{
    text-decoration: underline;
    font-weight: bold;
}

.publications{
    text-align: left;
    width: 80%;
    margin: 50px 10%;
}

.publications-list:before {
    content:"• ";
}

.small-separation {
    border-color: #aacfcf;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 15%;
    margin: 30px 0; 
}